*{
    margin:auto;
}

body{
    background-image: linear-gradient(to right, rgb(11, 11, 11) , rgb(75, 75, 75));
}

.logoImg img{
    width:150px;
}

.nav-bar{
    background-color: black;
    width:200px;
    margin-right:100%;
}

ul{
    text-decoration: none;
}