*{
    margin:auto;
    color: goldenrod;
    font-family: "Anta";
}

body{
    background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(61, 62, 0));
}

.logoImg img{
    width:150px;
}

.nav-bar{
    background-color: black;
    width:160px;
    margin-right:100%;
    border-width: 0px 1px 0px 0px;
    border-color: goldenrod;
    border-style: solid;
    font-weight: 700;
    font-size: 1.7rem;
}

.nav-bar *{
    padding-top:5%;
    padding-bottom: 5%;
}

.nav-bar div:hover{
    background-color: rgb(67, 67, 67);
    color:gold;
}


.toVault *{
    display: flex;
}

.logoImg:hover{
    background-color: black !important;
    
}

ul{
    text-decoration: none;
}

a{
    text-decoration: none;
}